<mat-toolbar class="mat-primary">
  <mat-toolbar-row>
    <button mat-button class="action" routerLink="/">v17</button>
    <div class="actions">
      <button mat-button class="action" routerLink="/home" routerLinkActive="active">
        Home
      </button>
      <button mat-button class="action" routerLink="/admin" routerLinkActive="active">
        Admin
      </button>
      <button mat-button class="action" routerLink="/book" routerLinkActive="active">
        Book
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
